:root {
    --primary-bg: #0a192f;
    --secondary-bg: #112240;
    --highlight-color: #64ffda;
    --text-color: #ccd6f6;
    --button-bg: #64ffda;
    --button-hover: #52d2b4;
    --input-bg: #0d2538;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: var(--secondary-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--highlight-color);
}

h1 span {
    color: var(--text-color);
}

form {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--text-color);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #aab4be;
    font-size: 0.9rem;
}

button {
    background-color: var(--button-bg);
    color: var(--primary-bg);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover);
}

.register-link {
    margin-top: 10px;
    text-align: center;
}

.register-link p {
    margin: 0;
    font-size: 0.9rem;
}

.register-link a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
